
:root {
    --themeColor: #8064A2;
    --themeColor2: #0096C8;
}
.parentDiv {
    display: flex;
flex-direction: column;
}
.outerListingDiv {
    height:900px;
    min-height: 700px;
    /* background-color: #90bd93 ; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.outerListingDiv.own {
    height:600px;
    min-height: 500px;
    background-color: #F7FDFF;
}
.outerListingDiv.testimony {
    height:600px;
    min-height: 500px;
    /* background-color: #F7FDFF; */
}
.gridContainer {
    display: grid;
    padding: 100px;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Spacing between boxes */
}
.gridContainer.own, .gridContainer.testimony  {
    grid-template-columns: repeat(1, 1fr); /* Two columns */
    gap: 20px; /* Spacing between boxes */
}
.listCardDiv{
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    padding: 42px;
    border: 1px solid #CED4DA;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin: 10px;
}
.listCardDiv.testimony {
    padding: 42px;
    border: none;
    background-color:#F7F5F9 ;

    border-radius: 8px;
    margin: 10px;
}
.listTitle {
    font-size: 24px;
    font-weight: 700;
}
.listBtn {
    display: inline-flex;
padding: 12px 31px 12px 30px;
justify-content: center;
align-items: center;
border-radius: 8px;
border: 1px solid var(--Primary-Full, #8064A2);
background: var(--Grey-white, #FFF);
margin: 20px 0;

}
.listIcon {
    margin-right: 30px;
}
.imageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
/* AudioComponent.css */

.audio-container {
    background-color: #d1c8de;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:60%;
    border-radius: 8px;
  }
  
  .audio-player {
    width: 80%;
    min-width: 200px;
    cursor: pointer;
    background-color: #d1c8de; 
    color: #8064a2;
  }
  
  .circular-image {
    border-radius: 50%;
    margin-left: 20px; /* Adjust the margin as needed */
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
  }
  .circular-image.big {
    width: 100px;
    height: 100px;
    margin: 20px;
  }
  .testimonyDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nameDetails {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }